# Creación de la base de datos principal

- Aqui hacemos el merge de todos los modulos en un gran dataframe llamado "emicron2023".
- Este debe tener 330 columnas y 81018 obervaciones (filas).

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import os
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
#PATHS
#Ruta base donde están los archivos que descargamos usando el "Downloader"
base = os.path.normpath(os.getcwd() + "/data").replace("\\", "/")
#Ruta donde se descargará el dataframe final
ruta_csv = os.path.normpath(os.getcwd() + "/emicron23.csv").replace("\\", "/")
#Mostrar las rutas
print(f"base: {base}")
print(f"ruta_csv: {ruta_csv}")

base: C:/Users/shamu/Documents/Jupyter/EmicronReplica/data
ruta_csv: C:/Users/shamu/Documents/Jupyter/EmicronReplica/emicron23.csv

In [3]:
#Modulo de capital social
df_cs=pd.read_csv(base+'/Módulo de capital social.csv',
                  encoding='utf-8',sep=',',low_memory=False)
#Modulo de ventas o ingresos
df_vi=pd.read_csv(base+'/Módulo de ventas o ingresos.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Módulo de características del micronegocio
df_cm=pd.read_csv(base+'/Módulo de características del micronegocio.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Módulo de costos, gastos y activos.csv
df_cga=pd.read_csv(base+'/Módulo de costos, gastos y activos.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Módulo de emprendimiento.csv
df_me=pd.read_csv(base+'/Módulo de emprendimiento.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Módulo de identificación.csv
df_mi=pd.read_csv(base+'/Módulo de identificación.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Módulo de inclusión financiera.csv
df_if=pd.read_csv(base+'/Módulo de inclusión financiera.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Módulo de personal ocupado.csv
df_po=pd.read_csv(base+'/Módulo de personal ocupado.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Módulo de sitio o ubicación.csv
df_su=pd.read_csv(base+'/Módulo de sitio o ubicación.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Módulo de TIC.csv
df_tic=pd.read_csv(base+'/Módulo de TIC.csv',
                  encoding='latin-1',sep=',',low_memory=False)
#Módulo personal ocupado (propietario(a)).csv
df_pop=pd.read_csv(base+'/Módulo personal ocupado (propietario(a)).csv',
                  encoding='latin-1',sep=',',low_memory=False)
#factores de expansión departamentales
df_fex_dep=pd.read_csv(base+'/factores_departamental_2023_proy_2018.csv',
                  encoding='latin-1',sep=',',low_memory=False)
df_list=['df_cs','df_vi','df_cm','df_cga','df_me','df_mi','df_if','df_po','df_su','df_tic','df_pop','df_fex_dep']

In [4]:
columnas_cs=df_cs.columns.tolist()
columnas_vi=df_vi.columns.tolist()
columnas_cm=df_cm.columns.tolist()
columnas_cga=df_cga.columns.tolist()
columnas_me=df_me.columns.tolist()
columnas_mi=df_mi.columns.tolist()
columnas_if=df_if.columns.tolist()
columnas_su=df_su.columns.tolist()
columnas_tic=df_tic.columns.tolist()
columnas_pop=df_pop.columns.tolist()
columnas_fex_dep=df_fex_dep.columns.tolist()

In [5]:
#Lista de DataFrames a incluir en el merge (excluyendo df_po)
df_list = [df_cs, df_vi, df_cm, df_cga, df_me, df_mi, df_if, df_su, df_tic, df_pop, df_fex_dep]

#Identificar las columnas comunes
columnas_comunes = set(df_list[0].columns)
for df in df_list[1:]:
    columnas_comunes &= set(df.columns)
columnas_comunes = list(columnas_comunes)

#Realizar el merge secuencialmente, evitando conflictos en las columnas duplicadas
emicron23 = df_list[0]  #Inicializa con el primer DataFrame
for df in df_list[1:]:
    emicron23 = pd.merge(emicron23, df, on=columnas_comunes, how='outer', suffixes=('', '_dup'))

In [6]:
emicron23.head()

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,P3002,P3003_1,P3003_2,P3003_3,P3003_4,P3003_5,P3003_6,...,P2989,P3091,SUELDOS,PRESTACIONES,REMUNERACION_TOTAL,CLASE_TE_dup,COD_DEPTO_dup,AREA_dup,F_EXP_dup,FEX_C
0,7277093,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,0.000,0,0,2,5,NaN,34.837,5.616
1,7277104,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,2,1,NaN,0,0,1,5,5.000,87.416,7.220
2,7277108,1,3,2,NaN,NaN,NaN,NaN,NaN,NaN,...,2,1,NaN,0,0,1,5,5.000,74.101,6.121
3,7277114,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,2,3,2600000.000,336000,2936000,1,5,5.000,132.473,10.942
4,7277119,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,2,1,NaN,0,0,2,5,NaN,14.785,3.015

In [7]:
filas, columnas = emicron23.shape
print(f"El DataFrame 'emicron23' tiene {filas} observaciones.")

El DataFrame 'emicron23' tiene 81018 observaciones.

Si el dataframe se ha creado correctamente, lo descargamos.

In [8]:
emicron23.to_csv(ruta_csv, index=False, encoding='utf-8')
print(f"El DataFrame 'emicron23' se ha guardado correctamente en {ruta_csv}")

El DataFrame 'emicron23' se ha guardado correctamente en C:/Users/shamu/Documents/Jupyter/EmicronReplica/emicron23.csv